body {
  background: linear-gradient(30deg , rgb(77,77,77), rgb(56,56,56));
  color: #0009;
}

#page-logo a ,
header a{
color: rgb(183,230,235)
}

header nav a:hover {
  background-color: rgb(183,230,235);
  color: rgb(59, 59,59);
}


header {
  position: static;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  width: 1200px;
  margin: 0 auto 48px auto;
}
li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background: #fafafa;
  box-shadow: 1px 1px 4px #0002;
  border-radius: 6px;
  overflow: hidden;
  /* width: 500px; */
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
 
}
.item-content h2 {
  letter-spacing: 2px;
   text-transform: capitalize;
   margin: 0;
}

.actions {
 text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  color: rgb(0,190,200);
}

.actions a:hover {
  color: #fafafa;
  background-color: rgba(0,190,200,0.5);
}